
/*----------------------------------------------------------------------*/
@media (min-width: 1920px) and (max-width: 2560px)
{
  .carousel {
  width: 60%;
}
#projets {  
   height: 1550px; 
}
.listeprojets {
  width: 60%;  
}
.listeprojets4 img {
  width: 66%;
}
#biographic {   
  width: 60%;
}
#section1, #section2, #section3 {  
  height: 450px;
}
.fa-disease { 
  bottom: 30%;
   }
#balle {
    left: 400px;
    font-size: 0.8em;
  }
  figcaption {
  font-size: 0.9em;   
}
  #sectioncredits p:nth-child(1) { 
  font-size: 0.75em;
}
.skill-bars {  
  width: 40%;
  }
  #portrait {     
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top; 
}
footer {   
 height: 400px;  
}
#rocket2 {
  width: 6%; 
   bottom: -120px;
   right: 15%;
}
}

/*----------------------RESPONSIVE Desktops and laptops---------------------------------*/
@media screen  and (max-width : 1224px)
{
  #whosectionimg {
  width: 228px;
  height: 300px;
}
#rocket {    
  bottom: -360%;
  right: 0%;
  }
@keyframes rocketfly {
    0% {
      bottom: -350%;
    }      
    10% {      
       opacity: 0.8;
    }     
    80% {      
       opacity: 0.4;      
    }     
    100% {
      bottom: -250%;   
      opacity: 0;  
    }
  }
.workco {
  width: 25%;    
  height: 450px;
  }
  .planetmiddle {
  width: 90%;
}
.planet {
  width: 150px;
}
#planetprofil {
   width: 100px;
   margin-top: 50px;
   margin-bottom: 50px;
}
.carousel-text {
  font-size: 0.75em;
   top: 500px;
}
#projets {  
   height: 1600px;  
}
#section1, #section2, #section3 {  
  height: 280px;
}
figcaption {
  font-size: 0.85em;   
}
.fa-disease { 
  bottom: 20%;
   }
#balle {
  font-size: 0.9em;
  left: 320px;
  }
  #sectioncredits p:nth-child(1) { 
  font-size: 0.75em;
}
}









/*----------------------------------------------------------------------*/
/*----------------------RESPONSIVE 1024---------------------------------*/
@media screen and (max-width: 1024px) 
{
* {
  font-size: 0.95em;  
}
h1 { 
  font-size: 5em;    
}
#headerdescription, #headerdescriptioneng {  
  font-size: 1em; 
 border-right: 10px solid #08c404;
}
nav ul li a {  
  font-size: 1.75em;  
  -webkit-text-stroke: 0.75px white;
}
.topolist h3 {
   -webkit-text-stroke: 0.5px #10c4c4;
}
#whosectionimg {
 width: 203px;
  height: 275px;
}
.todocontainer ul li div {  
  width: 300px;  
  font-size: 1.1em;
}
.todocontainer ul li::after {  
  width: 25px;
  height: 25px;
 }
.todocontainer ul li:nth-child(odd) div {
  left: -180px;
  transform: translate3d(-200px,0,0);
}
#rocket img {  
  width: 15%;
  }
#rocket {    
  bottom: -300%;
  right: 0%;
  }
@keyframes rocketfly {
    0% {
      bottom: -290%;
    }      
    10% {      
       opacity: 0.8;
    }     
    80% {      
       opacity: 0.4;      
    }     
    100% {
      bottom: -200%;   
      opacity: 0;  
    }
  }
.imgmentor {
  width: 150px;
  height: 150px;
}
.swiper-slide { 
  width: 250px;
}
.testimonialBox { 
  font-size: 1.15em;
}
.workco {
  width: 25%;    
  height: 375px;
  }
  #ocsection {  
  height: 800px;
}
.cardfront, .cardback {  
  top: 200px;
}
.planetmiddle {
  width: 90%;
}
.planet {
  width: 125px;
}
#planetprofil {
   width: 80px;
   margin-top: 50px;
   margin-bottom: 50px;
}
#planets h2 {
  font-size: 1em;
}
/*-------------------------------------SECTION PACMAN-----------------------------------*/

.road {  
  height: 125px;
}

.road::after {  
  border-top: 8px dotted white;
}
.pacman::before,
.pacman::after {   
  border: solid 25px #fcfc04;
  margin-top: -25px; 
  border-right-color: transparent;
  border-bottom-color: transparent;  
}
.pacman::after {
  border-color: #fcfc04;
  border-right-color: transparent;
  border-top-color: transparent; 
}
.ghost {  
  height: 60px;
  width: 50px;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
}
.ghost::before,
.ghost::after {
  content: "";
  position: absolute;
  background: white;
  height: 20px;
  width: 15px;
  border-radius: 100%;
  top: 15px;
  left: 4px;
}

.ghost::after {
  left: 28px;
}
.eyes::before,
.eyes::after {  
  height: 8px;
  width: 8px;  
}
.carousel {
  width: 80%;
   height: 500px;
}
.carousel-text {
  width: 60%; 
  top: 400px;
  left: -100px; 
}
#technolist button { 
  font-size: 1.7em;  
   border: 4px solid white;
  width: 120px;
  height: 50px;
}
#screenbuttons { 
  bottom: 11.5%;   
}
#comingsoon {  
  height: 100px; 
}
#projets {  
   height: 1300px;  
}
.listeprojets {  
  height: 60px;  
}
.listeprojetstop {
  height: 60px;    
}
.listeprojetstop h3 {
  font-size: 1.5em;  
}
#biographic {    
  width: 90%; 
}
#section1, #section2, #section3 {
  display: flex;  
  flex-direction: row;
  justify-content: space-around;
  height: 300px;
   position: relative;  
    padding-bottom: 15px;
    padding-top: 25px;   
}
figure {  
  width: 50%;   
}
figcaption {
  font-size: 1em;   
}
.fa-disease { 
  bottom: 20%;
   }
#balle {
  font-size: 0.9em;
  left: 320px;
  }
  #figureufo img {      
    animation: ufobackground 13s alternate infinite;
      -moz-animation: ufobackground 13s alternate infinite;
      -webkit-animation: ufobackground 13s alternate infinite;
      -o-animation: ufobackground 13s alternate infinite;
      -ms-animation: ufobackground 13s alternate infinite;
}
@keyframes ufobackground {  
  0%  {background-position: 0px 50px;}
  100%  {background-position: -200px 35px;} 
}
#sectioncredits p:nth-child(1) { 
  font-size: 0.75em;
}
#continued { 
  bottom: 100px;
}
.progress-line span::after{
  top: -35px;
 }
#skillsection button {  
  width: 120px;
  height: 50px;
}
#portraitsection {
  max-width: 50%;
}
#portraitsection img {  
   max-height: 40%;
   max-width: 30%;   
}
.contact {  
  width: 100px;
  height: 100px;
}
footer {   
 height: 250px;  
}
}













/*----------------------RESPONSIVE 768--------fleches-------------------------*/
@media screen and (max-width: 768px) 
{
* {
   font-size: 0.9em;
}
/* Add some top padding to the page content to prevent 
sudden quick movement (as the navigation bar gets a new 
position at the top of the page (position:fixed and top:0) */

h1 { 
  font-size: 4em;  
}
#headerdescription, #headerdescriptioneng {  
  font-size: 0.75em; 
   border-right: 7px solid #08c404;
}
header div span {
    font-size: 1.5em;
}

nav ul {   
    padding: 0;
}
nav ul li a {
   font-size: 2em;
   -webkit-text-stroke: 1px white;
  margin: auto;
  text-align: center;
}

.topnav a {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
     font-size: 4em;
  }
  /*.topnav a.icon:hover, .topnav a.icon:active {
    text-shadow: -2px 0 4px #08c404, 0 2px 4px #08c404, 2px 0 4px #08c404, 0 -2px 20px #08c404;

  }*/
  .topnav.responsive {
    position: relative;
    flex-direction: column;
    width: 100%;  
    margin: auto; 
    min-height: 50vh;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 40px;
    top: 0;
    font-size: 4em;  
  }
  .topnav.responsive a.icon img {
    position: absolute;
    left: 50px;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    font-size: 3em;
  }
  #whosectionimg {
 width: 147px;
  height: 200px;
}
.parallaxeffect img {
  width: 12%;
}
.parallaxeffect img:nth-child(10) {
  bottom: 35%;
  left: 10%;
}
.parallaxeffect img:nth-child(7) {
  bottom: 10%;
  right: 7%;
}
.parallaxeffect img:nth-child(3) {
left: 15%;
}
.parallaxeffect img:nth-child(4) {
top: 0%;
}
.parallaxeffect img:nth-child(6) {
bottom: 50%;
}
.parallaxeffect img:nth-child(2) {
bottom: 30%;
}
.saucer {  
  animation: saucerfly 7s ease-in-out infinite forwards;
      -moz-animation: saucerfly 7s ease-in-out infinite forwards;
      -webkit-animation: saucerfly 7s ease-in-out infinite forwards;
      -o-animation: saucerfly 7s ease-in-out infinite forwards;
      -ms-animation: saucerfly 7s ease-in-out infinite forwards;
    }
@keyframes saucerfly {
    0% {
      height: 50px; 
      top: 0;
      right: 5%;
    }  
    10% {
      right: 8%;
    } 
    20% {
      right: 11%;
    } 
    30% {
      right: 8%;
    } 
    40% {
      right: 5%;
    } 
    50% {
      right: 15%;
    } 
    52% {
      right: 25%;
    } 
    54% {
      right: 35%;
    } 
    56% {
      right: 45%;
    } 
    58% {
      left: 45%;      
    } 
    60% {
      left: 35%;
    } 
    62% {
      left: 20%;
    } 
    64% {
      left: 0%;
       opacity: 0;
    }     
    70% {
      left: 5%;
       opacity: 1;
    } 
    75% {
      left: 30%;
    } 
    80% {
      right: 30%;      
    } 
    90% {
      right: 10%;     
    } 
    100% {
      height: 200px;
      top: 550px; 
      right: 0%; 
       opacity: 0;    
    }
  }
#milkyaway {
    width: 70%;
  height: 70%;   
}
.topolist h2::after {
top: 40px;
}
#todolist {  
  padding-bottom: 50px;
  background-image: url("img/backspace1.png");
 background-attachment: fixed;
  background-size: 110%;
  background-repeat: no-repeat;
  background-position: right center;
  position: relative;
}
.todocontainer ul li::after {  
 
  font-size: 2em;
 }
.todocontainer ul li div {  
  width: 220px;  
  font-size: 1.25em;
}
.todocontainer ul li:nth-child(odd) div {
  left: -100px;
  transform: translate3d(-200px,0,0);
}
#rocket img {  
  width: 10%;
  }
#rocket {    
  display: none;
}
  .swiper-container { 
  height: 450px;
}
.imgmentor {
  width: 120px;
  height: 120px;
  border: 3px solid white;
}
.testimonialBox p { 
  font-size: 1.25em;
}
#wishsection {  
  background-size: contain;
  background-position: center center;    
}
.loading span {  
  font-size: 4em;
}
.topsentence {
 font-size: 0.75em;
}
.animate .one, .animate .two, .animate .three {
font-size: 2.25em;
transform: scale(1);
  -webkit-transform: scale(1);
    -ms-transform: scale(1,1);
}
.one, .two, .three {
   font-size: 2.25em;
}
.four, .five {
  font-size: 2.25em;
  text-shadow: 3px 0 #10c4c4;
}
#ocsection {  
  flex-direction: column; 
  height: 100%;
  padding-bottom: 50px; 
  background-position: center left;
  
}  
.workco {  
  width: 66%;  
  margin: auto;  
  text-align: center;
  height: 225px;
  justify-content: flex-start;
  transform: translateY(-50%); 
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    margin-bottom: 40px;   
}
.cardfront, .cardback {  
  top: 150px;  
}
.cardfront h3 {  
padding-bottom: 0;
}
.cardback {
   font-size: 0.75em;
}
.cardfront {
   font-size: 1.15em;
}
#pole {
 width: 12%;  
}
#logooc {
  width: 30%;
}
#planets { 
  padding: 30px;
  max-width: 100%;
  background-size: 130%;  
}
.planet {
  width: 120px;
}
#planetprofil {
   width: 65px;
   margin-top: 75px;
   margin-bottom: 75px;
   animation: rotaprofil 80s linear infinite;
    -moz-animation: rotaprofil 80s linear infinite;
    -webkit-animation: rotaprofil 80s linear infinite;
    -o-animation: rotaprofil 80s linear infinite;
    -ms-animation: rotaprofil 80s linear infinite;
}
@keyframes rotaprofil{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

#planets h2 {
    -webkit-text-stroke: 0.5px #10c4c4; 
}
#planet2, .planet, .planetmiddle .planet:nth-child(1) {
animation: none;
  -moz-animation: none;
    -webkit-animation: none;
    -o-animation: none;
    -ms-animation: none;
}



/*-------------------------------------SECTION PACMAN-----------------------------------*/

.road {  
  height: 100px;
  border-top: 6px solid #102ccc;
  border-bottom: 6px solid #102ccc;
}
.road::after {  
  border-top: 6px dotted white;
}
.pacman::before,
.pacman::after {   
  border: solid 20px #fcfc04;
  margin-top: -20px; 
  border-right-color: transparent;
  border-bottom-color: transparent;  
}
.pacman::after {
  border-color: #fcfc04;
  border-right-color: transparent;
  border-top-color: transparent; 
}
.ghost {  
  height: 45px;
  width: 38px;
   margin-top: -25px;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
}
.ghost::before,
.ghost::after {
  content: "";
  position: absolute;
  background: white;
  height: 12px;
  width: 10px;
  border-radius: 100%;
  top: 10px;
  left: 5px;
}

.ghost::after {
  left: 22px;
}
.eyes::before,
.eyes::after {  
  height: 6px;
  width: 6px; 
  top: 12px;
  left: 3px; 
}
.eyes::after {
  left: 20px;
}

@keyframes peepLeft {
  0%,
  100% {
    left: 3px;
  }
  50% {
    left: 8px;
  }
}

@keyframes peepRight {
  0%,
  100% {
    left: 20px;
  }
  50% {
    left: 25px;
  }
}
#technolist {  
background-attachment: fixed;
  background-size: cover;
 background-position: right 45% bottom 45%;
}
.carousel {
  width: 80%;
  height: 400px;
}
.carousel-text {
  top: 380px;
  left: -80px; 
}
.carousel-item i {
  margin-top: 75px;
}
.carousel-item p {  
  margin-top: 100px;
}
#game, #coin {  
   margin-top: 125px;   
}
#technolist button {  
   border: 3px solid white;
  width: 100px;
  height: 40px;
}
#comingsoon {
   height: 75px;
  font-size: 1.5em;
   -webkit-text-stroke: 1px black; 
   overflow: hidden;
   border-top: 7px solid #102ccc;
  border-bottom: 7px solid #102ccc; 
  
}

#screenbuttons {  
  bottom: 10%;  
}
.contact {  
  width: 80px;
  height: 80px;
}
#projets {  
   height: 1250px;    
}
.listeprojets {
  font-size: 1.2em;
}
#sectionbio  {
   padding-bottom: 25px;
}
#section1, #section2, #section3 {  
  height: 200px;
}
#biographic {   
  width: 95%; 
  
}
figure img {  
 
  border: 1px solid black;
    border-width: 2px 2.5px 2px 3px;  
}
figcaption {
  font-size: 1em;   
}
#balle {
  font-size: 0.9em;
  left: 250px;
  } 
#continued {
  bottom: 50px;
}
#skillsection  {  
  font-size: 1.2em;
}
#skill-bars {
width: 60%;
}
.bar {
height: 8px;  
}
.info span { 
right: -10px; 
font-size: 2em;
}
#portrait {  
  background-size: cover;  
}
#portraitsection {
max-width: 90%;
}
#portraitsection .imagehover p span {
display: inline;

}
#portraitsection .imagehover p span i {
  text-shadow: 3px 0 #10c4c4;
color: #fcfc04;    
-webkit-text-stroke: 1.5px white;
font-style: italic;
}
#portraitsection .imagehover:nth-child(14) {
  display: none;
}

.to-top {  
  font-size: 35px;
}
.to-top.active {
bottom: 20px;

}
.contact {
  position: relative;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 30px 0 30px;
}
footer {   
 height: 200px;    
}
#rocket2 {  
  bottom: -40px; 
  width: 7%; 
}

}
/*----------------------------------------------------------------------*/
/*----------------------------------------------------------------------*/
@media screen and (max-width: 568px)
{
#lang a {
  font-size: 1.5em;
  color: white;
}
 #whosectionimg {
 width: 128px;
  height: 175px;
}
.topolist h2 {
-webkit-text-stroke: 1px white;
}
.topolist h2::after {
display: none;
}
.topolist p {
text-shadow: 1.5px 0 #10c4c4;
}
.todocontainer ul li div p:nth-child(1) {
  font-size: 1em;
  padding-top: 12px;
   padding-bottom: 10px;
  text-shadow: 1.5px 0 #fcfc04;  
}

 
.todocontainer ul li div{  
  width: 150px;  
} 

.todocontainer ul li:nth-child(odd) div {
  left: -30px;
  transform: translate3d(-200px,0,0);
}
.testimonialBox h4 {
text-shadow: 1px 0 #fcfc04;
}
.workco {  
  width: 85%;   
  height: 225px; 
}
.cardfront i {  
font-size: 4em;
}
#planets { 
  padding: 0px;
  max-width: 100%; 
 clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
 background-size: 180%;
}
.planet {
  width: 110px;
}
#planetprofil {
   width: 60px;
}
.planettop {
  padding-top: 25px;
  padding-bottom: 25px;
}
.planetmiddle {
width: 100%;
}
#planetdots span {
width: 25px;
height: 25px;
}
.carousel-item i {  
  font-size: 15em;  
}
.carousel-item p {    
  font-size: 5em;
}

#projets {  
   height: 1540px;
}
.listeprojetsbottom { 
  flex-direction: column; 
   text-shadow: 3px 0 #bc040c;
   text-align: center;
}
.listeprojets1, .listeprojets2, .listeprojets3, .listeprojets4 {
  width: 100%;
   flex-direction: column;
   text-align: center;
   display: flex;
   margin: 0;   
}
.listeprojets h3, .listeprojets h4 {
  text-align: center;
  margin: auto;
}
.listeprojets h4 {
  margin-top: 5px;
}
.listeprojets4 img {
  width: 60%; 
  border: 3px solid white; 
  margin-top: 0px; 
}
.listeprojets2 p {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;  
}
#sectionbio  {
   padding-bottom: 0px;
}
#biographic { 
  width: 80%;
  height: auto;  
   
}
#section1, #section2, #section3 {
  display: flex;  
  flex-direction: column;
  justify-content: space-between;
  height: 500px;
   position: relative; 
   padding: 0;     
}
figure {  
  position: relative;
  width: 70%; 
  margin: auto;  
  margin-top: 25px;
}
figcaption {
  font-size: 1.2em;   
}
.fa-disease {   
  bottom: 40px;
  left: 25%;
   }

#skill-bars p {
font-size: 0.75em;
}
.info span { 
top: -30px;
right: 0px; 
font-size: 1.75em;
}
.contact { 
  width: 80px;
  height: 80px;  
  margin: 40px;
}
footer {   
 height: 250px;    
}
#rocket2 {  
  bottom: 0px; 
  width: 8%; 
}

}
/*----------------------------------------------------------------------*/
/*----------------------------------------------------------------------*/
@media screen and (max-width: 425px)
{
  #headerdescription, #headerdescriptioneng {  
  font-size: 0.8em;
  border-right: 5px solid #08c404;
  white-space:nowrap;
}
.saucer {  
  width: 25%;
  }
#whosection {  
  height: 90vh;
  flex-direction: column-reverse;
}
.todocontainer ul li div{  
  width: 150px;  
  padding: 0 5px 0 5px;
 box-shadow: 1px 1px 10px 5px #102ccc; 
  border: 3px solid white;  
   -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  overflow-wrap: break-word;
}
.todocontainer ul li{
  width: 3px;
  padding-top: 50px;  
 box-shadow: 1px 1px 10px 5px #102ccc;
}
.todocontainer ul li::after {  
  width: 24px;
  height: 24px; 
  font-size: 1.9em;  
  box-shadow: 1px 1px 10px 5px #102ccc; 
 }
.todocontainer ul li:nth-child(odd) div {
  left: 15px; 
}
.todocontainer ul li:nth-child(odd) div::before {
  right: -14px;
  border-width: 7px 0 7px 14px;  
}
.todocontainer ul li:nth-child(even) div {
  left: -175px;
  transform: translate3d(200px,0,0);
}
.todocontainer ul li:nth-child(even) div::before {
  left: -14px;
  border-width: 7px 14px 7px 0; 
} 
.topolist h2 {
  font-size: 2.25em;  
}
.testimonialBox {  
  width: 100%; 
}
.testimonialBox p { 
  font-size: 1em;
}
.swiper-container { 
  height: 400px;
}
.imgmentor {
  width: 100px;
  height: 100px; 
  box-shadow: 1px 1px 10px 5px #10c4c4;  
  border: 3px solid white; 
}
.testimonialBox a {
  font-size: 3em;  
}

#ocsection {
    height: 1000px;
}
.workco {  
  width: 75%;   
  height: 225px;
  margin-top: 0;
     margin: auto; 
}
.cardfront, .cardback {  
  top: 125px;  
}
.cardback {
   font-size: 0.65em;
   box-shadow: 1px 1px 15px 5px white;
  border: 3px solid white;
}
.cardfront {
   font-size: 1.15em;
   box-shadow: 1px 1px 15px 5px white;
  border: 3px solid white; 
}
.cardfront i {  
font-size: 3em;
}
#pole {
 width: 12%;  
}
#logooc {
  width: 40%;
}

.planet {
  width: 80px;
}
#planetprofil {
   width: 40px;  
   margin: 0; 
 }
.planetmiddle {
  width: 100%;  
  justify-content: space-between;
}
#planetdots span {
width: 18px;
height: 18px;
}
.road {  
  height: 75px;
  border-top: 4px solid #102ccc;
  border-bottom: 4px solid #102ccc;
}
.road::after {  
  border-top: 4px dotted white;
}
.pacman::before,
.pacman::after {   
  border: solid 15px #fcfc04;
  margin-top: -15px; 
  border-right-color: transparent;
  border-bottom-color: transparent;  
}
.pacman::after {
  border-color: #fcfc04;
  border-right-color: transparent;
  border-top-color: transparent; 
}
.ghost {  
  height: 38px;
  width: 30px;
   margin-top: -20px;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
}
.ghost::before,
.ghost::after {
  content: "";
  position: absolute;
  background: white;
  height: 9px;
  width: 7px;
  border-radius: 100%;
  top: 10px;
  left: 5px;
}

.ghost::after {
  left: 18px;
}
.eyes::before,
.eyes::after {  
  height: 4px;
  width: 4px; 
  top: 12px;
  left: 2px; 
}
.eyes::after {
  left: 16px;
}

@keyframes peepLeft {
  0%,
  100% {
    left: 2px;
  }
  50% {
    left: 5px;
  }
}

@keyframes peepRight {
  0%,
  100% {
    left: 17px;
  }
  50% {
    left: 20px;
  }
}

.carousel {
  width: 90%;
  height: 325px;
}
.carousel-item i {
  margin-top: 50px;
   font-size: 13em;  
}
.carousel-item p {  
  margin-top: 80px;
  font-size: 4em;
}
#game, #coin {   
   margin-top: 100px;
    font-size: 2.5em;
}
#technolist button {  
   border: 3px solid white;
  width: 75px;
  height: 30px;
}
#comingsoon {
   height: 60px;  
   border-top: 5px solid #102ccc;
  border-bottom: 5px solid #102ccc;   
}
#comingsoon > :first-child {
animation: defil 10s infinite linear;
    -moz-animation: defil 10s infinite linear;
    -webkit-animation: defil 10s infinite linear;
    -o-animation: defil 10s infinite linear;
    -ms-animation: defil 10s infinite linear;
}
@keyframes defil {
  0% {
    transform: translate3d(200px,0,0); }
  100% {
    transform: translate3d(-100%,0,0); }
}
#screenbuttons {  
  bottom: 8.5%;  
}
#projets {  
   height: 1470px;  
}
.listeprojets {  
 box-shadow: 1px 1px 15px 5px white;
  border: 3px solid white;
}
.listeprojets2 p {
  align-items: center;
  justify-content: center;  
}
.listeprojets1 p, .listeprojets2 p, .listeprojets3 p { 
  margin: 5px;
}
.listeprojets4 {
  margin-top: 15px;
}
#biographic { 
  width: 90%;   
}
#section1, #section2, #section3 { 
  height: 425px;  
}
figure { 
    width: 75%;  
}
figcaption {
  font-size: 1.1em;  
  top: 5px;
  left: 5px;   
}
.fa-disease {   
  bottom: 40px;
  left: 25%;
   }
#figurebirth img {  
  animation: wave 20s infinite ease-in-out; 
    -moz-animation: wave 20s infinite ease-in-out; 
    -webkit-animation: wave 20s infinite ease-in-out; 
    -o-animation: wave 20s infinite ease-in-out; 
    -ms-animation: wave 20s infinite ease-in-out; 
}

@keyframes wave {  
  0%  {background-position: 0 50%;}  
  20%  {background-position: 0 35%;}  
  40%  {background-position: 0 55%;} 
  60%  {background-position: 0 40%;} 
  80%  {background-position: 0 60%;} 
  100%  {background-position: 0 35%;} 
}
  #figureufo img {      
    animation: ufobackground 13s alternate infinite;
      -moz-animation: ufobackground 13s alternate infinite;
      -webkit-animation: ufobackground 13s alternate infinite;
      -o-animation: ufobackground 13s alternate infinite;
      -ms-animation: ufobackground 13s alternate infinite;
}
@keyframes ufobackground {  
  0%  {background-position: 0px 50px;}
  100%  {background-position: -150px 35px;} 
}

#skill-bars p {
width: 70%;
}
.info span {    
right: -10px; 
}
#rocket2 {  
  bottom: 10px; 
  width: 10%; 
}
article {  
  margin-bottom: 0px;  
}
.contact { 
  width: 65px;
  height: 65px;  
  margin: 30px;
}
.links {  
  font-size: 2.5em;
}
footer {   
  padding-top: 0px;  
}
.to-top {  
  font-size: 25px;
}
}
/*----------------------------------------------------------------------*/
/*----------------------------------------------------------------------*/
@media screen and (max-width: 400px)
{
#projets {  
   height: 1520px;  
}
}
/*----------------------------------------------------------------------*/
/*----------------------------------------------------------------------*/
@media screen and (max-width: 375px)
{ 
.todocontainer ul li div{  
  width: 125px;   
}
.todocontainer ul li:nth-child(odd) div {
  left: 40px; 
}

.imgmentor {
  width: 90px;
  height: 90px; 
}
#ocsection {
    height: 1100px;
}
.workco {    
  height: 260px; 
}
.planet {
  width: 65px;
}
#planetprofil {
   width: 35px;  
}
.carousel {
  width: 100%;
}
#technolist button {   
  width: 65px;
  height: 26px;
}
#projets {  
   height: 1570px;  
}
figure { 
    width: 85%;  
}
#balle {  
  left: 200px;
  } 
#figureufo img {      
    animation: ufobackground 13s alternate infinite;
      -moz-animation: ufobackground 13s alternate infinite;
      -webkit-animation: ufobackground 13s alternate infinite;
      -o-animation: ufobackground 13s alternate infinite;
      -ms-animation: ufobackground 13s alternate infinite;
}
@keyframes ufobackground {  
  0%  {background-position: 0px 35px;}
  100%  {background-position: -150px 20px;} 
}
#continued {  
  right: 25px;  
}
.info span {    
right: -15px; 
text-shadow: 3px 0 #bc040c;
}

article {
  margin-right: 5px;
  margin-left: 5px;
}
.contact { 
  width: 50px;
  height: 50px;  
  margin: 25px;
}
.links {  
  font-size: 1.85em;
}
}
/*----------------------------------------------------------------------*/
/*----------------------------------------------------------------------*/
@media screen and (max-width: 350px)
{
#projets {  
   height: 1600px;  
}
#planets h2 {
font-size: 0.75em;
}
#screenbuttons {  
  bottom: 8%;  
}
}
/*----------------------------------------------------------------------*/
/*----------------------------------------------------------------------*/
@media screen and (max-width: 320px)
{
 
.todocontainer ul li div{  
  width: 110px;   
}
.todocontainer ul li:nth-child(odd) div {
  left: 55px; 
}
.imgmentor {
  width: 90px;
  height: 90px; 
}
#ocsection {
    height: 1175px;
}
.workco {    
  height: 280px; 
}
.planet {
  width: 55px;
}
#planetprofil {
   width: 25px;  
}

#technolist button {   
  width: 65px;
  height: 26px;
}
#projets {  
   height: 1585px;  
}
.listeprojets {
  width: 90%;  
}
#biographic { 
   transform: rotate(0deg);
}
figure { 
    width: 90%;  
}
figcaption {  
  top: 5px;
  left: 5px;  
}
#figureufo img {      
    animation: ufobackground 13s alternate infinite;
}
@keyframes ufobackground {  
  0%  {background-position: 0px 35px;}
  100%  {background-position: -150px 20px;} 
}
.info span { 
text-shadow: 2px 0 #bc040c;
}
#continued {  
  right: 25px;  
}
.contact { 
  width: 45px;
  height: 45px;  
  margin: 20px;
}
}
@media screen and (max-width: 305px)
{
#projets {  
   height: 1630px;  
}
}