/*----------------------------------------------------------------------*/
/*----------------------RESPONSIVE 1024---------------------------------*/
@media screen and (max-width: 1024px) 
{
* {
  font-size: 0.95em;  
}
h1 { 
  font-size: 5em;    
}
#headerdescription {  
  font-size: 1em; 
 border-right: 10px solid #08c404;
}
nav ul li a {  
  font-size: 1.75em;  
  -webkit-text-stroke: 0.75px white;
}
.topolist h3 {
   -webkit-text-stroke: 0.5px #10c4c4;
}
#whosectionimg {
 width: 203px;
  height: 275px;
}
.todocontainer ul li div {  
  width: 300px;  
  font-size: 1.1em;
}
.todocontainer ul li:nth-child(odd) div {
  left: -180px;
  transform: translate3d(-200px,0,0);
}
#rocket img {  
  width: 15%;
  }
#rocket {    
  bottom: -300%;
  right: 0%;
  }
@keyframes rocketfly {
    0% {
      bottom: -290%;
    }      
    10% {      
       opacity: 0.8;
    }     
    80% {      
       opacity: 0.4;      
    }     
    100% {
      bottom: -200%;   
      opacity: 0;  
    }
  }
.imgmentor {
  width: 150px;
  height: 150px;
}
.swiper-slide { 
  width: 250px;
}
.testimonialBox { 
  font-size: 1.15em;
}
.workco {
  width: 25%;    
  height: 400px;
  }
  #ocsection {  
  height: 800px;
}
.cardfront, .cardback {  
  top: 200px;
}
.planetmiddle {
  width: 90%;
}
.planet {
  width: 125px;
}
#planetprofil {
   width: 80px;
}
#planets h2 {
  font-size: 1em;
}
/*-------------------------------------SECTION PACMAN-----------------------------------*/

.road {  
  height: 125px;
}

.road::after {  
  border-top: 8px dotted white;
}
.pacman::before,
.pacman::after {   
  border: solid 25px #fcfc04;
  margin-top: -25px; 
  border-right-color: transparent;
  border-bottom-color: transparent;  
}
.pacman::after {
  border-color: #fcfc04;
  border-right-color: transparent;
  border-top-color: transparent; 
}
.ghost {  
  height: 60px;
  width: 50px;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
}
.ghost::before,
.ghost::after {
  content: "";
  position: absolute;
  background: white;
  height: 20px;
  width: 15px;
  border-radius: 100%;
  top: 15px;
  left: 4px;
}

.ghost::after {
  left: 28px;
}
.eyes::before,
.eyes::after {  
  height: 8px;
  width: 8px;  
}
.carousel {
  width: 80%;
   height: 500px;
}
.carousel-text {
  width: 60%; 
  top: 400px;
  left: -100px; 
}
#technolist button { 
  font-size: 1.7em;  
   border: 4px solid white;
  width: 120px;
  height: 50px;
}
#screenbuttons { 
  bottom: 11.5%;   
}
#comingsoon {  
  height: 100px; 
}

#projets {  
   height: 1480px;  
}
.listeprojets video {
  height: 135px;
  pointer-events: auto!important;
 width: 240px;
 border: 3px solid white;
}
.listeprojets4 img {
  width: 240px;
  height: 135px;  
  border: 3px solid white;
}
#biographic {    
  width: 90%; 
}
#section1, #section2, #section3 {
  display: flex;  
  flex-direction: row;
  justify-content: space-around;
  height: 300px;
   position: relative;  
    padding-bottom: 15px;
    padding-top: 25px;   
}
figcaption {
  font-size: 1em;   
}
.fa-disease { 
  bottom: 20%;
   }
#balle {
  font-size: 0.9em;
  left: 320px;
  }
  #figureufo img {      
    animation: ufobackground 13s alternate infinite;
}
@keyframes ufobackground {  
  0%  {background-position: 0px 50px;}
  100%  {background-position: -200px 35px;} 
}
#continued { 
  bottom: 100px;
}
#skillsection button {  
  width: 120px;
  height: 50px;
}
#portraitsection {
  max-width: 50%;
}
#portraitsection img {  
   max-height: 40%;
   max-width: 30%;   
}
/*-------------------------------FOOTER-------------------------*/
.contact {  
  width: 100px;
  height: 100px;
}
}













/*----------------------RESPONSIVE 768--------fleches-------------------------*/
@media screen and (max-width: 768px) 
{
* {
   font-size: 0.9em;
}

h1 { 
  font-size: 4em;  
}
#headerdescription {  
  font-size: 0.75em; 
   border-right: 7px solid #08c404;
}
header div span {
    font-size: 1.5em;
}

nav ul {   
    padding: 0;
}
nav ul li a {
   font-size: 2em;
   -webkit-text-stroke: 1px white;
  margin: auto;
  text-align: center;
}

.topnav a {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
     font-size: 4em;
  }
  .topnav.responsive {
    position: relative;
    flex-direction: column;
    width: 100%;  
    margin: auto; 
    min-height: 50vh;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 50px;
    top: 0;
  }
  .topnav.responsive a.icon img {
    position: absolute;
    left: 50px;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  #whosectionimg {
 width: 147px;
  height: 200px;
}
.parallaxeffect img {
  width: 12%;
}
.parallaxeffect img:nth-child(10) {
  bottom: 25%;
}
.parallaxeffect img:nth-child(7) {
  bottom: 10%;
}
.saucer {  
  animation: saucerfly 7s ease-in-out infinite forwards;
    }
@keyframes saucerfly {
    0% {
      height: 50px; 
      top: 0;
      right: 5%;
    }  
    10% {
      right: 8%;
    } 
    20% {
      right: 11%;
    } 
    30% {
      right: 8%;
    } 
    40% {
      right: 5%;
    } 
    50% {
      right: 15%;
    } 
    52% {
      right: 25%;
    } 
    54% {
      right: 35%;
    } 
    56% {
      right: 45%;
    } 
    58% {
      left: 45%;      
    } 
    60% {
      left: 35%;
    } 
    62% {
      left: 20%;
    } 
    64% {
      left: 0%;
       opacity: 0;
    }     
    70% {
      left: 5%;
       opacity: 1;
    } 
    75% {
      left: 30%;
    } 
    80% {
      right: 30%;      
    } 
    90% {
      right: 10%;     
    } 
    100% {
      height: 200px;
      top: 550px; 
      right: 0%; 
       opacity: 0;    
    }
  }
#milkyaway {
    width: 70%;
  height: 70%;   
}
#todolist {   
    background-size: 90%;
}

.todocontainer ul li div {  
  width: 220px;  
  font-size: 1.25em;
}
.todocontainer ul li:nth-child(odd) div {
  left: -100px;
  transform: translate3d(-200px,0,0);
}
#rocket img {  
  width: 10%;
  }
#rocket {    
  bottom: -300%;
  right: -10%;
  }
@keyframes rocketfly {
    0% {
      bottom: -290%;
    }      
    10% {      
       opacity: 0.8;
    }     
    80% {      
       opacity: 0.4;      
    }     
    100% {
      bottom: -150%;     
    }
  }
.imgmentor {
  width: 120px;
  height: 120px;
}
.testimonialBox p { 
  font-size: 1.25em;
}
#wishsection {  
  background-size: contain;
  background-position: center center;  
  
}
#ocsection {  
  flex-direction: column; 
  height: 100%;
  padding-bottom: 50px;
}
.workco {  
  width: 66%;  
  margin: auto;  
  text-align: center;
  height: 225px;
  justify-content: flex-start;
  transform: translateY(-50%); 
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    margin-bottom: 40px;   
}
.cardback {
   font-size: 0.75em;
}
.cardfront {
   font-size: 1.15em;
}
#pole {
 width: 12%;  
}
#logooc {
  width: 30%;
}
.planet {
  width: 80px;
}
#planetprofil {
   width: 80px;
   margin-top: 75px;
   margin-bottom: 75px;
}
#planets h2 {
    -webkit-text-stroke: 0.5px #10c4c4; 
}
/*-------------------------------------SECTION PACMAN-----------------------------------*/

.road {  
  height: 100px;
  border-top: 6px solid #102ccc;
  border-bottom: 6px solid #102ccc;
}
.road::after {  
  border-top: 6px dotted white;
}
.pacman::before,
.pacman::after {   
  border: solid 20px #fcfc04;
  margin-top: -20px; 
  border-right-color: transparent;
  border-bottom-color: transparent;  
}
.pacman::after {
  border-color: #fcfc04;
  border-right-color: transparent;
  border-top-color: transparent; 
}
.ghost {  
  height: 45px;
  width: 38px;
   margin-top: -25px;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
}
.ghost::before,
.ghost::after {
  content: "";
  position: absolute;
  background: white;
  height: 12px;
  width: 10px;
  border-radius: 100%;
  top: 10px;
  left: 5px;
}

.ghost::after {
  left: 22px;
}
.eyes::before,
.eyes::after {  
  height: 6px;
  width: 6px; 
  top: 12px;
  left: 3px; 
}
.eyes::after {
  left: 20px;
}

@keyframes peepLeft {
  0%,
  100% {
    left: 3px;
  }
  50% {
    left: 8px;
  }
}

@keyframes peepRight {
  0%,
  100% {
    left: 20px;
  }
  50% {
    left: 25px;
  }
}
#technolist {  
background-attachment: fixed;
  background-size: 170%;
  background-repeat: no-repeat;
  background-position: center center;
  
  

}
.carousel {
  width: 80%;
  height: 400px;
}
.carousel-text {
  top: 380px;
  left: -80px; 
}
.carousel-item i {
  margin-top: 75px;
}
.carousel-item p {  
  margin-top: 100px;
}
#screenbuttons {  
  bottom: 13%;  
}
.contact {  
  width: 80px;
  height: 80px;
}
}
/*----------------------------------------------------------------------*/
/*----------------------------------------------------------------------*/
